<main class="landingPage">
    <div class="lp__container">
        <div class="lpIzquierda">
            <div class="monigoteCrypto-img__container">
                <img src="../../assets/landingPage/monigoteCrypto.jpeg" alt="Monigote">
            </div>
        </div>
        <div class="lpDerecha">
            <div class="lpDerecha__container__titulo">
                <h1>CryptoRaf!</h1>
            </div>
            <div class="lpTexto__Container">
                <p>On this page, you will be able to find information about the most important cryptocurrencies in the market</p>
                <p>You will be able to see their current price, their maximum and minimum prices in the last 24 hours, their market capitalization, and their trading volume.</p>
                <p>We hope you enjoy it!</p>
            </div>
            <div class="lp-form">
                <label for="">Sign up with your email</label>
                <input [(ngModel)]="contenidoInput" type="text">
                <button (click)="showRegister()">Access</button>
            </div>
        </div>
    </div>
</main>
